.row {
  margin-left: 20px;
  color: white;
}
.row_posters {
  display: flex;
  padding: 20px;
  /*for providing a scrollbar in x direction for all the movies row  */
  overflow-x: scroll;
  overflow-y: hidden;
}

/* this is used to tell all the chrome or edge or firefox to hide the scrollbar  */
.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 150ms;
}
.row_poster:hover {
  transform: scale(1.08);
}

.row_largeposter {
  max-height: 250px;
}
.row_largeposter:hover {
  transform: scale(1.09);
}
